.App {
  text-align: center;
}

.header{
  display: flex;
  background-color: #AB2A19;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  
  
}
.logo {
  color:white;
  float: left;
}
.shelfie{
  
  display: flex;
  color:white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.shelfContainer {
  
  height: 50vh;
  width: 25vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.shelf {
  font-size: 30px;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 30vw;
  border: solid white 10px;
  background-color: #D34735;
}

